h1
{
  color: black;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.img-details {
  font-size: 8px;
}

img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eee;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  line-height: 30px;
  border-radius: 5px;
  background-color: rgba(253, 190, 95, 0.76);
}
