h1
{
  color: green;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.img-details {
  font-size: 8px;
}

img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eee;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #eee;
}
