{%extends 'all-media/base.html'%}

 {% block content %}

<div style= 'color: blue;'class="container ">
<br><br><br>
  <h1 class="text-center">Name:{{image.name}}</h1>

  <div class="img-details style= 'color: blue;">
      <span>
          <b>Category: </b>
          <i>Category:{{image.category}}</i>
      </span>
      <span>
          <b>Location: </b>
          <i>Location:{{image.location}}</i>
      </span> 
  </div>
  <div>
    <p>Description:{{image.description}}</p>
  </div>
  <div class="img-container">
    <button class="share-button" onClick="shareImage('{{image.image.url}}')">
      <i class="fas fa-share-alt"></i>
    </button>
    <img src="{{image.image.url}}"  alt="">
  </div>
</div>

 {% endblock %}