{%extends 'all-media/base.html'%}

{% block content %}
{{block.super}}
<div class="container text-center">
<br><br><br>
    <blockquote class="blockquote">
      <p class="mb-0">A photograph is a memory that lasts a lifetime.</p>
      <footer class="bfooter"><em>Diana Mongina</em></footer>
    </blockquote>
    
    <div class="row">
        {% for image in images%}
    <!-- loop through all the images -->      
        <div class="col-4">
            <h2 style= 'color: blue;'>{{image.name}}</h2>
            <div class="img-details">
                <span>
                    <b>Category: </b>
                    <i>{{image.category}}</i>
                </span>
                <span>
                    <b>Location: </b>
                    <i>{{image.location}}</i>
                </span> 
            </div>
            <a href="/image/{{image.id}}">
                <img src="{{image.image.url}}" alt="fish">            
            </a>
        </div>
        
        {% endfor %}
    </div>
    <br> 
    <div class="row">
        <div class="col-md-6">
            <h2>Categories</h2>
                <a class="chip" href="/">
                    <i>All</i>
                </a>
                {% for category in categories%}
            <!-- loop through all the images -->      
                <a class="chip" href="/?category={{category.id}}">
                    <i>#{{category.name}}</i>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h2>Locations</h2>
                <a class="chip" href="/">
                    
                </a>
                {% for location in locations%}
            <!-- loop through all the images -->      
                <a class="chip" href="/?location={{location.id}}"><i
                class="fas fa-map-marker-alt"></i>&nbsp;
                    <i>{{location.name}}</i>
                </a>
                
            {% endfor %}
        </div>
    </div>
       

{% endblock %}
