{%extends 'all-media/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <h2>{{image.name}}</h2>
          <div class="img-details">
              <span>
                  <b>Category: </b>
                  <i>{{image.category}}</i>
              </span>
              <span>
                  <b>Location: </b>
                  <i>{{image.location}}</i>
              </span> 
          </div>
          <img src="{{image.image.url}}" alt="fish">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}